{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <img src="/image/18ru.gif" style="border-radius :50%; height: 500px;" alt="">
    <div>
        Страница не найдена! Шо делать!!!111 =О
    </div>
</div>

{% endblock %}