{% extends "Object.twig" %}

{% block objectContent %}

<div class="block" style="margin-top:20px;">
    <img src="{{object.image}}" style="border-radius: 100px; width: 270px;" alt="">
    </div>
{% endblock %}


