{% extends "__layout.twig" %}

{% block content %}
    <h1>Добавление объекта жизни двух челов</h1>
    <hr>
{% if message %}
<div class="alert alert-info">
{{message}}
<a href="/man-object/{{id}}">Открыть новый объект</a>
</div>
{% endif %}
    <form action="" method="POST" class="row g-3">
        <div class="col-4">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="col-4">
            <label class="form-label">Краткое описание</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="col-4">
            <label class="form-label">Тип</label>
            <select class="form-control" name="type">
                <option value="Messi">Messi</option>
                <option value="Ronaldo">Ronaldo</option>
            </select>
        </div>
        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5"></textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>

{% endblock %}